html,body,menu,nav,section,article,header,div,aside,em,ul,li,time,summary,caption,h1,h2,h3,h4,h5,h6,abbr,details,mark,video,audio,code,cite,thead,table,tr,th,p,blockquote,img,span,br,hr,fieldset,a,strong,footer,hgroup,figcaption,dd,dt,dl,b,l,label,iframe,frame,samp,ins,kbd{background:transparent;border:0;vertical-align:baseline;font-size:100%;outline:0;padding:0px;margin:0px}
body{font-size:100%}
h1,h2,h3,h4,h5,h6{font-size:100%}
section,article,header,figure,div,aside,details,figcaption,menu,nav{display:block}
a,a:hover,a:active,a:focus,a:visited{text-decoration:none;margin:0;padding:0;font-size:100%;color:#000}
ul,li{list-style-type:none}
.clear{ clear:both;}
